.card-game {
    display: flex;
    justify-content:center;
    align-items: center;
    width: var(--width);
    height: var(--heigth);  
    background-color: var(--color-roxinho);
    border: 8px solid var(--color-floral-white);
}
